/* BOUTONS HOVER */

/*  Passer le menu intérieur en barre Left.
body,main{
    transition: all 0.3s;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}
*/

.glow-on-hover {
    text-align:center;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: whitesmoke;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 100;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
    color: white;
    opacity: 100%;
}
/**** Bouton Boutique *****/

 #boutik {
display:flex;
margin-left:auto;
margin-right:auto;
max-width: 70px;
max-height: 40px;
background-color: black;
z-index: 10;
border-style:solid;
align-items:center;
justify-content:center;
font-family: 'Lobster', 'Roboto';
-webkit-margin-left:auto;
}

/****************************/

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* HOVER 1 BOUTON 1 FIN */

/* HOVER 2 BOUTON 2 DEBUT */


@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
/*
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
}
*/
div[class*=box] {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-2 { background-color: #3C3C3C; }

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}
/*__________________*/
/*
========================
      BUTTON TWO
========================
*/
.btn-two {
    text-align: center;
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    height:100%;
}
.btn-two span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
}
.btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
}

/* FIN BOUTON 2 HOVER 2 */
