<form style="display: flex;width: 100%;flex-wrap: nowrap;justify-content: center" method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Confirmez-vous la suppresion de cette catégorie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button style="display: flex;flex-wrap: nowrap;justify-content: center;align-items:center;margin-top: 15px;margin-bottom: 15px;margin-left:auto;margin-right:auto;font-weight:bolder" class="btn btn-danger">Delete</button>
</form>
