{{ form_start(form) }}
    {{ form_widget(form) }}
    <button style="display: flex;flex-wrap: nowrap;justify-content: center;align-items:center;margin-top: 15px;margin-bottom: 15px;margin-left:auto;margin-right:auto;font-weight:bolder" class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
