{% extends 'base.html.twig' %}

{% block title %}Editer Categorie{% endblock %}

{% block body %}
    <section class="jumbotron text-center"
             style="background: url({{ asset('assets/img/videos/GIF/colorfulbar.gif') }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     margin-bottom: 0px;
                     font-size: 35px">
    </section>

    <h1 style="text-decoration-line: underline;text-align: center">Editer Categorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a style="display: flex;flex-wrap: nowrap;justify-content: center;align-items:center;margin-top: 15px;margin-bottom: 15px;margin-left:auto;margin-right:auto;font-weight:bolder" class="btn btn-primary" href="{{ path('app_category_index') }}">Retour Liste</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
